<label for="radio{{version}}" class="control radio {{modifierclass}}">
  <input type="radio" id="radio{{version}}" name="radio" value="radio-value{{version}}" {{state}}>
  <span class="control__indicator"></span> Radio Input
</label>